/*==============
      CORES
==============*/

$color-b-1: #151724;
$color-b0: #2E3142;
$color-b1: #BFC1C0;
$color-b2: #EDEDED;
$color-b3: #F9F9F9;

$color-p-3: #2e3b52;
$color-p-2: #38475f;
$color-p-1: #435169;
$color-p0: #4F5E75;
$color-e0: #EF8354;
$color-e1: #FAA06B;
$color-w: #FFFFFF;

/*==============
   TIPOGRAFIA
==============*/

$font-prompt: 'Prompt', Arial, Helvetica, sans-serif;

@mixin font($type) {
   @if $type == title {
      font-family: $font-prompt;
      font-size: 2.4rem;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
      line-height: 1;
      letter-spacing: 0px;
   }
   @else if $type == text {
      font-family: $font-prompt;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
      line-height: 1.5;
      letter-spacing: 0px;
   }
   @else if $type == btn {
      font-family: $font-prompt;
      font-size: 1.4rem;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 2px;
   }
   @else if $type == info {
      font-family: $font-prompt;
      font-size: 1.4rem;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
      line-height: 1.2;
      letter-spacing: -0.5px;
   }
}