*, *::before, *::after {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  outline: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  display: block;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

strong, em, dfn, small, address, q, blockquote, cite {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

abbr {
  border-bottom: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/*==============
      CORES
==============*/
/*==============
   TIPOGRAFIA
==============*/
body {
  background-color: #4F5E75;
  padding: 20px;
  -webkit-transition: .6s;
  transition: .6s;
}

.dark-mode body {
  background-color: #151724;
}

.card {
  max-width: 485px;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 20px;
  margin: 120px auto 30px auto;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(42, 64, 98, 0.3), 0px 10px 10px 0px rgba(42, 64, 98, 0.3);
          box-shadow: 0px 5px 5px 0px rgba(42, 64, 98, 0.3), 0px 10px 10px 0px rgba(42, 64, 98, 0.3);
  -webkit-transition: .6s;
  transition: .6s;
}

.dark-mode .card {
  background-color: #4F5E75;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(20, 37, 61, 0.3), 0px 10px 10px 0px rgba(20, 37, 61, 0.3);
          box-shadow: 0px 5px 5px 0px rgba(20, 37, 61, 0.3), 0px 10px 10px 0px rgba(20, 37, 61, 0.3);
}

.color_scheme_modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
  -webkit-transition: .6s;
  transition: .6s;
}

.color_scheme_modes .color_scheme_modes-dark, .color_scheme_modes .color_scheme_modes-light {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.color_scheme_modes .color_scheme_modes-dark::after, .color_scheme_modes .color_scheme_modes-light::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background-color: #EF8354;
  margin: 2px auto 0px auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.color_scheme_modes .color_scheme_modes-dark:hover::after, .color_scheme_modes .color_scheme_modes-light:hover::after {
  width: 15px !important;
}

.color_scheme_modes .color_scheme_modes-dark img:last-of-type, .color_scheme_modes .color_scheme_modes-light img:last-of-type {
  display: none;
}

.color_scheme_modes .color_scheme_modes-dark {
  margin-right: 15px;
}

.color_scheme_modes .color_scheme_modes-light::after {
  width: 15px;
}

.dark-mode .color_scheme_modes .color_scheme_modes-dark img:last-of-type, .dark-mode .color_scheme_modes .color_scheme_modes-light img:last-of-type {
  display: block;
}

.dark-mode .color_scheme_modes .color_scheme_modes-dark img:first-of-type, .dark-mode .color_scheme_modes .color_scheme_modes-light img:first-of-type {
  display: none;
}

.dark-mode .color_scheme_modes .color_scheme_modes-dark::after {
  width: 15px;
}

.dark-mode .color_scheme_modes .color_scheme_modes-light::after {
  width: 0px;
}

.card-title {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #2E3142;
  border-bottom: 2px solid #EF8354;
  margin: 0px auto 60px auto;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0px;
}

.dark-mode .card-title {
  color: #FFFFFF;
}

.card-text {
  color: #2E3142;
  margin-bottom: 30px;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0px;
}

.card-text::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #EF8354;
  margin-right: 5px;
}

.dark-mode .card-text {
  color: #FFFFFF;
}

.input_field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51px 1fr;
      grid-template-columns: 51px 1fr;
  background-color: #EDEDED;
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: .6s;
  transition: .6s;
}

.input_field .input_field-btns {
  background-color: #F9F9F9;
  border-right: 2px solid #2E3142;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

.input_field .input_field-btns .input_field-btns-plus {
  padding: 10px 15px 10px 15px;
  border-top-left-radius: 10px;
}

.input_field .input_field-btns .input_field-btns-plus img {
  width: 19px;
  height: 19px;
}

.input_field .input_field-btns .input_field-btns-plus:active {
  background-color: #EDEDED;
}

.input_field .input_field-btns .input_field-btns-minus {
  padding: 10px 15px 15px 15px;
  border-bottom-left-radius: 10px;
}

.input_field .input_field-btns .input_field-btns-minus img {
  width: 19px;
  height: 3px;
}

.input_field .input_field-btns .input_field-btns-minus:active {
  background-color: #EDEDED;
}

.input_field input {
  width: 100%;
  text-align: right;
  color: #2E3142;
  background-color: #EDEDED;
  padding: 15px;
  border-radius: 10px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-transition: color .6s, background-color .6s;
  transition: color .6s, background-color .6s;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0px;
}

.input_field input:focus {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.input_field input[type=number]::-webkit-inner-spin-button,
.input_field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.dark-mode .input_field {
  background-color: #38475f;
}

.dark-mode .input_field .input_field-btns {
  background-color: #435169;
}

.dark-mode .input_field .input_field-btns .input_field-btns-plus:active {
  background-color: #38475f;
}

.dark-mode .input_field .input_field-btns .input_field-btns-minus:active {
  background-color: #38475f;
}

.dark-mode .input_field input {
  color: #FFFFFF;
  background-color: #38475f;
}

button {
  color: #FFFFFF;
  background-color: #EF8354;
  padding: 10px 45px;
  border-radius: 5px;
  margin: 0px auto 30px auto;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
}

button:hover {
  background-color: #FAA06B;
}

.answer_field {
  height: 80px;
  color: #2E3142;
  background-color: #EDEDED;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0px;
}

.dark-mode .answer_field {
  color: #FFFFFF;
  background-color: #38475f;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
  gap: 15px;
  color: #BFC1C0;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.info .info-icon {
  place-self: start;
}

.info .info-icon img:last-of-type {
  display: none;
}

.dark-mode .info {
  color: #2e3b52;
}

.dark-mode .info .info-icon img:last-of-type {
  display: block;
}

.dark-mode .info .info-icon img:first-of-type {
  display: none;
}

@media only screen and (max-width: 800px) {
  .card {
    margin: 60px auto 0px auto;
  }
}
