@import 'reset';
@import 'mixins';

body {
   background-color: $color-p0;
   padding: 20px;
   transition: .6s;
   .dark-mode & {
      background-color: $color-b-1;
   }
}

.card {
   max-width: 485px;
   background-color: $color-w;
   padding: 30px;
   border-radius: 20px;
   margin: 120px auto 30px auto;
   box-shadow: 0px 5px 5px 0px rgba(42, 64, 98, .3),
               0px 10px 10px 0px rgba(42, 64, 98, .3);
   transition: .6s;
   .dark-mode & {
      background-color: $color-p0;
      box-shadow: 0px 5px 5px 0px rgba(20, 37, 61, 0.3),
               0px 10px 10px 0px rgba(20, 37, 61, 0.3);
   }
}

.color_scheme_modes {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 30px;
   transition: .6s;
   .color_scheme_modes-dark, .color_scheme_modes-light {
      width: 21px;
      height: 21px;
      cursor: pointer;
      &::after {
         content: '';
         display: block;
         width: 0px;
         height: 2px;
         background-color: $color-e0;
         margin: 2px auto 0px auto;
         transition: .3s;
      }
      &:hover::after {
         width: 15px !important;
      }
      img:last-of-type {
         display: none;
      }
   }
   .color_scheme_modes-dark {
      margin-right: 15px;
   }
   .color_scheme_modes-light {
      &::after {
         width: 15px;
      }
   }
   .dark-mode & {
      .color_scheme_modes-dark, .color_scheme_modes-light {
         img:last-of-type {
            display: block;
         }
         img:first-of-type {
            display: none;
         }
      }
      .color_scheme_modes-dark {
         &::after {
            width: 15px;
         }
      }
      .color_scheme_modes-light {
         &::after {
            width: 0px;
         }
      }
   }
}

.card-title {
   max-width: fit-content;
   color: $color-b0;
   border-bottom: 2px solid $color-e0;
   margin: 0px auto 60px auto;
   transition: .6s;
   @include font(title);
   .dark-mode & {
      color: $color-w;
   }
}

.card-text {
   color: $color-b0;
   margin-bottom: 30px;
   transition: .6s;
   @include font(text);
   &::before {
      content: '';
      display: inline-block;
      width: 0; 
      height: 0; 
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $color-e0;
      margin-right: 5px;
   }
   .dark-mode & {
      color: $color-w;
   }
}

.input_field {
   display: grid;
   grid-template-columns: 51px 1fr;
   background-color: $color-b2;
   border-radius: 10px;
   margin-bottom: 15px;
   transition: .6s;
   .input_field-btns {
      background-color: $color-b3;
      border-right: 2px solid $color-b0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;      
      transition: .6s;
      cursor: pointer;
      .input_field-btns-plus {
         padding: 10px 15px 10px 15px;
         border-top-left-radius: 10px;
         img {
            width: 19px;
            height: 19px;
         }
         &:active {
            background-color: $color-b2;
         }
      }
      .input_field-btns-minus {
         padding: 10px 15px 15px 15px;
         border-bottom-left-radius: 10px;

         img {
            width: 19px;
            height: 3px;
         }
         &:active {
            background-color: $color-b2;
         }
      }
   }
   input {
      width: 100%;
      text-align: right;
      color: $color-b0;
      background-color: $color-b2;
      padding: 15px;
      border-radius: 10px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
           appearance: textfield;
      transition: color .6s, background-color .6s;
      @include font(title);
      &:focus {
         box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
      }
   }
   input[type=number]::-webkit-inner-spin-button, 
   input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
   }
   .dark-mode & {
      background-color: $color-p-2;
      .input_field-btns {
         background-color: $color-p-1;
         .input_field-btns-plus:active {
            background-color: $color-p-2;
         }
         .input_field-btns-minus:active {
            background-color: $color-p-2;
         }
      }
      input {
         color: $color-w;
         background-color: $color-p-2;
      }
   }
}

button {
   color: $color-w;
   background-color: $color-e0;
   padding: 10px 45px;
   border-radius: 5px;
   margin: 0px auto 30px auto;
   @include font(btn);
   &:hover {
      background-color: $color-e1;
   }
}

.answer_field {
   height: 80px;
   color: $color-b0;
   background-color: $color-b2;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
   margin-bottom: 30px;
   transition: .6s;
   @include font(text);
   .dark-mode & {
      color: $color-w;
      background-color: $color-p-2;
   }
}

.info {
   display: grid;
   grid-template-columns: 20px 1fr;
   gap: 15px;
   color: $color-b1;
   transition: .6s;
   @include font(info);
   .info-icon {
      place-self: start;
      img:last-of-type {
         display: none;
      }
   }
   .dark-mode & {
      color: $color-p-3;
      .info-icon {
         img:last-of-type {
            display: block;
         }
         img:first-of-type {
            display: none;
         }
      }
   }
}

@media only screen and (max-width: 800px) {
   .card {
      margin: 60px auto 0px auto;
   }
}